<nav class="sidebar" [class.collapsed]="isCollapsed" [class.mobile-open]="isMobileSidebarOpen">
  <button class="sidebar-toggle-compact" (click)="toggleSidebar()" title="Recolher/Expandir menu">
    <i class="fas fa-chevron-left" *ngIf="!isCollapsed"></i>
    <i class="fas fa-chevron-right" *ngIf="isCollapsed"></i>
  </button>
  
  <ul class="nav-menu">
    <div *ngFor="let section of filteredNavSections" class="nav-section">
      <div class="nav-section-title">{{ section.title }}</div>
      <a 
        *ngFor="let item of section.items"
        [routerLink]="item.route"
        class="nav-item"
        [class.active]="isRouteActive(item.route)"
        [title]="isCollapsed ? item.text : ''">
        <i [class]="item.icon + ' nav-icon'"></i>
        <span class="nav-text">{{ item.text }}</span>
      </a>
    </div>
  </ul>
</nav>